<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>vistas/index.html</welcome-file>
    <welcome-file>vistas/index.htm</welcome-file>
    <welcome-file>vistas/index.jsp</welcome-file>
    <welcome-file>vistas/default.html</welcome-file>
    <welcome-file>vistas/default.htm</welcome-file>
    <welcome-file>vistas/default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>StartupListener</display-name>
    <servlet-name>StartupListener</servlet-name>
    <servlet-class>com.app.config.StartupListener</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StartupListener</servlet-name>
    <url-pattern>/StartupListener</url-pattern>
  </servlet-mapping>
</web-app>